

############ <%= hostname %> #####################

upstream <%= hostname %> {
  <% upstream.each do |serv| %>
    server <%= serv %>;
  <% end %>
}

server {
  gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

  server_name       <%= hostname %>;
  proxy_buffering   off;
  error_log         /proc/self/fd/2;
  access_log        /proc/self/fd/1;

  location / {
    proxy_pass  http://<%= hostname %>;
    include     /etc/nginx/proxy_params;

    # HTTP 1.1 support
    proxy_http_version 1.1;
    proxy_set_header   Connection "";
  }
}